html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.scroll-instruction {
    color: white;
    text-align: center;
}

/* -------------- Start of section styling ------------------- */
#sections {
    position: relative;
}

.step {
    margin-bottom: 100px;
    height: 100vh;
    font-family: "Domine";
    font-weight: 400;
    line-height: 1.4em;
    text-align: justify;
}

section {
    opacity: 0;
    transform: translate(0, 20px);
    transition: all 1s;
}
    
section.visible {
    opacity: 1;
    transform: translate(0, 0); 
}

.section-title {
    color: white;
    text-align: center;
}

.section-container {
    align-items: center;
    display:flex;
    flex-flow: column;
}
/* --------------- End of section styling -------------------- */

/* --------------- Start of section-header styling -------------------- */
#page-title {
    color: white;
    line-height: 600px;
    text-align: center;
}
/* --------------- End of section-header styling -------------------- */

/* --------------- Start of section-user-choose-category styling -------------------- */
figure {
    margin: 40px;
    text-align: center;
}

figcaption {
    color: white;
    margin: 16px;
}

.icon {
    opacity: 0.5;
    transition: .5s ease;
    backface-visibility: hidden;
    vertical-align: middle;
}

.icon:hover {
    cursor: pointer;
    opacity: 1.0;
}

.disabled-icon {
    cursor: default;
    opacity: 0.5;
}
/* --------------- End of section-user-choose-category styling -------------------- */

/* --------------- Start of section-user-choose-decade styling -------------------- */
.decade-button {
    color: lightslategray;
    font-size: 72px;
    transition: .5s ease;
    backface-visibility: hidden;
    vertical-align: middle;
}

.decade-button:hover {
    cursor: pointer;
    color: white;
}
/* --------------- End of section-user-choose-decade styling -------------------- */

/* --------------- Start of section-transition-before-color-map styling -------------------- */
.section-transition-container {
    display: flex;
    flex-flow: column;
}

#warning-category-decade {
    font-size: 32px;
    color: lightcoral;
    text-align: center;
}

#question-before-color {
    align-self: center;
    color: white;
    font-size: 42px;
    text-align: center;
    width: 80%;
}

#question-description-before-color {
    align-self: center;
    color: white;
    font-size: 24px;
    line-height: 30px;
    margin-top: 14px;
    text-align: center;
    width: 80%;
}
/* --------------- End of section-transition-before-color-map styling -------------------- */

/* --------------- Start of section-user-answer-reflection styling -------------------- */
#reflection-title {
    color: white;
    font-size: 36px;
    text-align: center;
}

#reflection-carousel {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.carousel-inner {
    height: 300px;
}

.carousel-item {
    margin: 32px;
}

.reflection-container {
    align-self: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    margin-bottom: 32px;
    margin-top: 32px;
}

.reflection-question {
    color: white;
    margin-bottom: 20px;
}
/* --------------- End of section-user-answer-reflection styling -------------------- */

/* --------------- Start of section-interesting-dataset styling -------------------- */
#interesting-dataset-title {
    color: white;
    text-align: center;
}

#interesting-dataset-description {
    color: white;
    text-align: center;
}
/* --------------- End of section-interesting-dataset styling -------------------- */